/* 头部开始 */
.head{
	width: 100%;
	height: 1.5rem;
	display: flex;
	align-items: center;
	background: #F2f2f2;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
}
.head div{
	font-size: 0.8rem;
	margin: 0 0.48rem;
	color:#4e4e4e;
}
.head .text{
	font-size: 0.48rem;
	margin-left: 2.89rem;
}

/* 头部结束 */

main{
	width: 100%;
	background: #f5f1f0;
	margin: 0 auto;
	padding: 1.5rem 0 1.58rem 0;
 }
 /* 地址开始 */
.address{
	width: 100%;
	height: 2.25rem;
	background:#fff;
	padding: 0.48rem 0.66rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	border-bottom: 0.01rem solid #e2e2e2;
}
.address .address-left{
	width: 8.52rem;
	height: 1.29rem;
	display: flex;
	flex-direction: column;
}
.address .address-left .xm{
	color: #242424;
	font-size: 0.48rem;
}
.address .address-left .dz{
	color: #b3b3b3;
	font-size: 0.36rem;
	margin-top: 0.15rem;
}
.address .address-right{
	width: 1.32rem;
	height: 1.29rem;
	line-height: 0.9rem;
}
.address .address-right .iconfont{
	color: #272727;
	font-size: 0.6rem;
	margin-left: 0.8rem;
}
 /* 地址结束 */
 /* 支付方式开始 */
.fangshi{
	width: 100%;
	height: 10.92rem;
	background: #fff;
	margin-top: 0.3rem;
	border-bottom: 0.01rem solid #e2e2e2;
	border-top: 0.01rem solid #e2e2e2;
	box-sizing: border-box;
	padding: 0.36rem 0.63rem;
}
.fangshi>ul>li{
	height: 1.32rem;
	border-bottom: 0.01rem solid #e2e2e2;
	box-sizing: border-box;
	display: flex;
}
.fangshi>ul>li .i1{
	color: #00cd03;
	font-size: 0.72rem;
}
.fangshi>ul>li div{
	color: #3a3a3a;
	font-size: 0.46rem;
	margin-top: 0.05rem;
	margin-left: 0.33rem;
}
.fangshi>ul>li .i2{
	font-size: 0.62rem;
	margin-left: 5.8rem;
	color: #ff5311;
}
.fangshi>ul>li .i3{
	font-size: 0.62rem;
	margin-left: 5.8rem;
}
.fangshi>ul .bianju{
	padding-top: 0.25rem;
}
.fangshi>ul .qita{
	border-bottom: 0;
	line-height: 1.1rem;
	display: flex;
	justify-content: center;
}
.fangshi>ul .qita div{
	color: #dadada;
	font-size: 0.42rem;
}
.fangshi>ul .qita .i4{
	color: #dadada;
	font-size: 0.42rem;
}
 /* 支付方式结束 */
 /* 包邮开始 */
.baoyou{
	width: 100%;
	height: 4.22rem;
	background: #fff;
	margin-top: 0.3rem;
	border-bottom: 0.01rem solid #e2e2e2;
	border-top: 0.01rem solid #e2e2e2;
	box-sizing: border-box;
	padding: 0.28rem 0.38rem;
}
.baoyou>ul{
	width: 100%;
	height: 3.78rem;
}
.baoyou>ul>li{
	height: 33.33%;
	border-bottom: 0.01rem solid #e2e2e2;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
.baoyou>ul .biankuang{
	margin-top: 0.2rem;
}
.baoyou>ul>li div{
	color:#363636;
	font-size: 0.28rem;
}
	
.baoyou>ul>li .iconfont{
	color:#b5b5b5;
	font-size: 0.28rem;
}
 .baoyou>ul .b12{
	 border-bottom: 0;
 }
 /* 包邮结束 */
 /* 商品开始 */
 .shop{
	 width: 100%;
	 height: 3.56rem;
	 background: #fff;
	 margin-top: 0.3rem;
	 border-bottom: 0.01rem solid #e2e2e2;
	 border-top: 0.01rem solid #e2e2e2;
	 box-sizing: border-box;
	 padding: 0.48rem 0.78rem;
 }
 .shop>ul{
	 width: 100%;
	 height: 2.6rem;
 }
 .shop>ul>li{
	 width: 100%;
	 height: 50%;
	 border-bottom: 0.01rem solid #e2e2e2;
	 box-sizing: border-box;
	 display: flex;
 }
 .shop>ul>li img{
	 width: 0.76rem;
	 height: 0.94rem;
	 border-radius: 5%;
	 margin-top: 0.2rem;
 }
 .shop>ul>li .text1{
	 color: #757575;
	 font-size: 0.44rem;
	 line-height: 1.3rem;
 }
.shop>ul>li .text2{
	 color: #404040;
	 font-size: 0.44rem;
	 line-height: 1.3rem;
 }
 .shop>ul .mifen{
	 border-bottom: 0;
 }
 .shop>ul .mifen img{
	 width: 0.9rem;
	 height: 0.58rem;
	 border-radius: 5%;
	 margin-top: 0.3rem;
 }
 .shop>ul .mifen .text3{
 	 color: #757575;
 	 font-size: 0.44rem;
 	 line-height: 1.3rem;
	 margin-left: 0.44rem;
  }
 .shop>ul .mifen .text4{
 	 color: #404040;
 	 font-size: 0.44rem;
 	 line-height: 1.3rem;
	 margin-left: 4.3rem;
  }

 /* 商品结束 */
/* 价格开始 */
.jiage{
	width: 100%;
	height: 2.2rem;
	background: #fff;
	padding: 0.38rem 0.62rem;
	box-sizing: border-box;
	margin-top: 0.3rem;
}
.jiage div{
	width: 100%;
	height: 33.33%;
	color: #3a3a3a;
	font-size: 0.4rem;
	line-height: 0.5rem;
}
.jiage div span{
	color: #868686;
	font-size: 0.34rem;
}
/* 价格结束 */
/* 配送开始 */
.peisong{
	width: 100%;
	height: 0.88rem;
	background: #fcf6d4;
	padding: 0 0.32rem;
	box-sizing: border-box;
	color: #c5ae87;
	font-size: 0.38rem;
	line-height: 0.88rem;
}
/* 配送结束 */
 /* 底部开始 */
 .dibu{
	 width: 100%;
	 height: 1.54rem;
	 background: #fff;
	 position: fixed;
	 left:0;
	 bottom: 0;
 }
 .dibu>ul{
	 display: flex;
 }
 .dibu>ul>li{
	 width: 50%;
	 height: 1.54rem;
 }
 .dibu>ul .gong{
	 color: #fa4310;
	 font-size: 0.44rem;
	 display: flex;
	 padding-top: 0.1rem;
	 line-height: 1.54rem;
 }
 .dibu>ul .gong span{
	 margin-left: 0.69rem;

 }
 .dibu>ul .gong .jine{
	 color: #ec6439;
	 font-size: 0.38rem;
	 line-height: 1.54rem;
	 margin-left: 0;
 }


 .dibu>ul .jiesuan{
 	color: #fff;
 	background: #fe5722;
 	text-align: center;
 	line-height: 1.54rem;
 	font-size: 0.46rem;
 }
 /* 底部结束 */